@import "tailwindcss";

@layer base {
    * {
        color: white;
    }
}

@theme {
    --color-accent: #363636;
    --color-remove: #834a4a;
    --color-special: #4C6B22;
    --color-less-special: #525e42;
    --color-secondary: #2c2c2c;
    --color-primary: #171A21;
    --font-sans: var(--font-inter);
}

body {
    background-color: var(--color-primary);
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.25) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px),
        linear-gradient(to top, #1a1a1a, var(--color-primary));
    background-size: 40px 40px, 40px 40px, 100% 100%;
    min-height: 100vh;
    margin: 0px;
}

.button {
    @apply hover:bg-primary hover:text-special transition-all cursor-pointer
}

.sign-up-input {
    @apply bg-accent rounded-[3px] outline-none w-60 h-10 text-[15px] pt-3 pl-1 border-gray-500 border
}

.input-box {
    @apply mt-8
}

.error {
    @apply absolute left-18 text-[12px] w-67 text-red-500 text-left
}

.request-error {
    @apply absolute text-red-500 whitespace-nowrap left-1/2 -translate-x-1/2 bottom-[0.1px]
}

.floating-label {
    @apply absolute text-gray-500 cursor-text left-19 top-2 transition-all
    peer-focus:top-1 peer-focus:text-[10px]
    peer-not-placeholder-shown:text-[10px] peer-not-placeholder-shown:top-1
}

.right-nav-link {
    @apply w-30 flex h-[80%] justify-center items-center rounded-sm bg-accent
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--color-accent);
}

::-webkit-scrollbar-thumb {
    background: var(--color-special);
}

.no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.info-card {
    @apply bg-secondary rounded-sm p-4 transition-colors hover:bg-accent cursor-default
}

.frame-shadow {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
}

.mobile_menu_button {
    @apply flex items-center justify-center px-4 h-12
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}
